<%= content_tag "div", id: "le-#{le.id}", class: "le-container", data: { model_name: le.class.name.underscore, update_url: list_element_sort_path(le)} do %>
  <%= link_to(edit_list_element_path(le.id), remote: true, class: "le-title-link") do %>
    <h2 class="my-3 le-title">
      <%= le.name.truncate(6) %>
      <%= link_to le, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-sm btn-outline-secondary add-card-btn ml-1" do %>
        <%= icon("fas", "trash") %>
      <% end %>
      <%= link_to(new_le_card_path(le.id), remote: true, class: "btn btn-sm btn-outline-secondary add-card-btn") do %>
        <%= icon("fas", "plus") %>
      <% end %>
    </h2>
  <% end %>
  <div id="list-element-<%= le.id %>" class="card-sortable le-cards-container">
  <% le.cards.includes(skill: :general_skill).rank(:row_order).each do |card| %>
    <%= render("card", card: card) %>
  <% end %>
  </div>
<% end %>
