<div class="container-fluid">
	<div class="row">
		<%= render "shared/sidebar" %>

		<main role="main" class="col-md-9 col-lg-10 pt-3 pb-5 px-3 px-sm-5">
      <div id="alert-message"></div>

      <div style="overflow-x:scroll;">
      <div class="row" style="min-width:1200px;white-space: nowrap;">

        <div class="col-3">
          <h2>Ready</h2>
          <div class="card mb-2">
            <div class="card-body bg-light p-3">
              <p>
                <span class="badge badge-dark">hoge</span>
                <span class="badge badge-success">huga</span>
              </p>
              <p class="card-text text-muted px-3">test</p>
            </div>
            <div class="card-footer text-right py-1 px-3">
              <small class="text-muted">Cre. at 2019/08/31</small>
              <%= icon("fas", "trash") %>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body bg-light p-3">
              <p>
                <span class="badge badge-dark">hoge</span>
                <span class="badge badge-success">huga</span>
              </p>
              <p class="card-text text-muted px-3">test</p>
            </div>
            <div class="card-footer text-right py-1 px-3">
              <small class="text-muted">Cre. at 2019/08/31</small>
              <%= icon("fas", "trash") %>
            </div>
          </div>
        </div>

        <div class="col-3">
          <h2>Doing</h2>
          <div class="card mb-2">
            <div class="card-body bg-light p-3">
              <p>
                <span class="badge badge-dark">hoge</span>
                <span class="badge badge-success">huga</span>
              </p>
              <p class="card-text text-muted px-3">test</p>
            </div>
            <div class="card-footer text-right py-1 px-3">
              <small class="text-muted">Cre. at 2019/08/31</small>
              <%= icon("fas", "trash") %>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body bg-light p-3">
              <p>
                <span class="badge badge-dark">hoge</span>
                <span class="badge badge-success">huga</span>
              </p>
              <p class="card-text text-muted px-3">test</p>
            </div>
            <div class="card-footer text-right py-1 px-3">
              <small class="text-muted">Cre. at 2019/08/31</small>
              <%= icon("fas", "trash") %>
            </div>
          </div>
        </div>

        <div class="col-3">
          <h2>Done</h2>
          <div class="card mb-2">
            <div class="card-body bg-light p-3">
              <p>
                <span class="badge badge-dark">hoge</span>
                <span class="badge badge-success">huga</span>
              </p>
              <p class="card-text text-muted px-3">test</p>
            </div>
            <div class="card-footer text-right py-1 px-3">
              <small class="text-muted">Cre. at 2019/08/31</small>
              <%= icon("fas", "trash") %>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body bg-light p-3">
              <p>
                <span class="badge badge-dark">hoge</span>
                <span class="badge badge-success">huga</span>
              </p>
              <p class="card-text text-muted px-3">test</p>
            </div>
            <div class="card-footer text-right py-1 px-3">
              <small class="text-muted">Cre. at 2019/08/31</small>
              <%= icon("fas", "trash") %>
            </div>
          </div>
        </div>

        <div class="col-3">
          <h2>Trash</h2>
          <div class="card mb-2">
            <div class="card-body bg-light p-3">
              <p>
                <span class="badge badge-dark">hoge</span>
                <span class="badge badge-success">huga</span>
              </p>
              <p class="card-text text-muted px-3">test</p>
            </div>
            <div class="card-footer text-right py-1 px-3">
              <small class="text-muted">Cre. at 2019/08/31</small>
              <%= icon("fas", "trash") %>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body bg-light p-3">
              <p>
                <span class="badge badge-dark">hoge</span>
                <span class="badge badge-success">huga</span>
              </p>
              <p class="card-text text-muted px-3">test</p>
            </div>
            <div class="card-footer text-right py-1 px-3">
              <small class="text-muted">Cre. at 2019/08/31</small>
              <%= icon("fas", "trash") %>
            </div>
          </div>
        </div>

      </div>
      </div>

		</main>
	</div>
</div>
