<div class="container my-5">
<div id="alert-message"></div>
  <div class="row">
    <div class="col-md-6 offset-md-3">

    <h1 class="h2 mb-4 text-center">ログイン</h1>

    <%= form_for(:session, url: login_path) do |f| %>
      <%= alert if alert %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.text_field :password, class: "form-control" %>
      </div>
      <%= f.submit 'ログイン', class: "btn btn-secondary" %>
    <% end %>

    <%= link_to "新規登録", users_new_path, class: "nav-link text-muted" %>

    </div>
  </div>
</div>
