<div class="container-fluid">
	<div class="row">
		<%= render "shared/sidebar" %>

		<main role="main" class="col-md-10 pt-3 px-4">
      <div id="alert-message"></div>

      <div class="modal fade" id="skill-modal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true"></div>

      <div class="container">

        <%= form_for(@skill, remote: true) do |f| %>
        <div class="form-row">
          <div class="col-md-5 input-group mb-4">
            <%= f.text_field :name, class: "form-control", placeholder: "New Skill" %>
            <div class="input-group-append">
              <%= f.submit "Add", class: "btn btn-secondary" %>
            </div>
          </div>
        </div>
        <% end %>

        <div class="error-message-area"></div>

        <div class="table-responsive">
        <table class="table text-nowrap">
          <thead class="thead-light">
            <tr>
              <th scope="col">スキル</th>
              <th scope="col">Card枚数</th>
              <th scope="col">総スコア</th>
              <th scope="col">作成日</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="skill-list">
          <% @skills.each do |skill| %>
            <tr id="skill-<%= skill.id %>">
              <th scope="row"><%= skill.name %></th>
              <td><%= skill.cards.count %></td>
              <td><%= total_scores_of(skill) %></td>
              <td><%= skill.created_at.strftime("%Y/%m/%d") %></td>
              <td>
                <div class="btn-group ml-3">
                  <%= link_to 'Edit', edit_skill_path(skill), remote: true, class: "btn btn-sm btn-outline-secondary" %>
                  <%= link_to 'Delete', skill, method: :delete, remote: true, data: { confirm: 'Are you sure?'}, class: "btn btn-sm btn-outline-secondary" %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        </div>

      </div>

		</main>
	</div>
</div>
