<div class="container-fluid">
	<div class="row">
		<%= render "shared/sidebar" %>

		<main role="main" class="col-md-10 pt-3 px-4">
      <div id="alert-message"></div>

      <div class="container">

        <%= form_for(@skill, remote: true) do |f| %>
          <div class="form-inline mb-4 mt-3">
            <div class="form-group mr-4">
              <%= f.text_field :name, class: "form-control", placeholder: "New Skill" %>
            </div>
            <%= f.submit "Add", class: "btn btn-secondary" %>
          </div>
        <% end %>
        <div id="error-message-area"></div>

        <div class="table-responsive">
        <table class="table text-nowrap">
          <thead class="thead-light">
            <tr>
              <th scope="col">スキル</th>
              <th scope="col">Card枚数</th>
              <th scope="col">総スコア</th>
              <th scope="col">作成日</th>
            </tr>
          </thead>
          <tbody id="skill-list">
          <% @skills.each do |skill| %>
            <tr>
              <th scope="row"><%= skill.name %></th>
              <td><%= skill.cards.count %></td>
              <td><%= total_scores_of(skill) %></td>
              <td><%= skill.created_at.strftime("%Y/%m/%d") %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        </div>

      </div>

		</main>
	</div>
</div>
