<div class="container-fluid">
	<div class="row">
		<%= render "shared/sidebar" %>

		<main role="main" class="col-md-9 col-lg-10 py-4 px-3 p-lg-5">
      <div id="alert-message"></div>

      <div class="modal fade" id="skill-modal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true"></div>

      <div class="row">
        <div class="col-md-6 mb-4">
          <%= form_with model: @skill do |f| %>
          <div class="form-inline">
            <div class="input-group">
              <%= f.text_field :name, class: "form-control", placeholder: "New Skill", maxlength: 50 %>
              <%= f.select :general_skill_id, @general_skill_options, {}, { class: "form-control" } %>
              <div class="input-group-append">
                <%= f.submit "Add", class: "btn btn-secondary" %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-md-6 mb-4">
          <%= form_with url: skills_search_path, method: :get do |f| %>
          <div class="form-inline">
            <div class="input-group ml-auto">
              <%= f.select :general_skill, options_for_select(@general_skill_options.unshift(["All", nil]), params[:general_skill]), {}, { class: "form-control mr-1", onChange: "javascript: this.form.skills_search_submit.click();" } %>
              <%= f.select :order, options_for_select(@order_options, params[:order]), {}, { class: "form-control", onChange: "javascript: this.form.skills_search_submit.click();", style: "min-width:108px;" } %>
              <%= f.submit name: "skills_search_submit", class: "d-none" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="error-message-area"></div>

      <div class="table-responsive">
      <table class="table table-hover text-nowrap">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="font-weight-normal">Skill</th>
            <th scope="col" class="font-weight-normal">General Skill</th>
            <th scope="col" class="font-weight-normal">Card数</th>
            <th scope="col" class="font-weight-normal">総スコア</th>
            <th scope="col" class="font-weight-normal">作成日</th>
            <th></th>
          </tr>
        </thead>

        <%= render("skill_list", skills: @skills) %>

      </table>
      </div>

      <%= render("pagination_skills", skills: @skills, general_skill_param: @general_skill_param, order_param: @order_param) %>

		</main>
	</div>
</div>
