<div class="container-fluid">
	<div class="row">
		<%= render "shared/sidebar" %>

		<main role="main" class="col-md-9 col-lg-10 py-4 px-3 p-lg-5">
      <div id="alert-message"></div>

      <div class="modal fade" id="skill-modal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true"></div>

      <div class="row">
        <div class="col-md-6 mb-4">
          <%= form_with model: @skill do |f| %>
          <div class="form-inline">
            <div class="input-group">
              <%= f.text_field :name, class: "form-control", placeholder: "New Skill", maxlength: 50 %>
              <%= f.select :general_skill_id, @general_skill_options, {}, { class: "form-control" } %>
              <div class="input-group-append">
                <%= f.submit "Add", class: "btn btn-secondary" %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="col-md-6 mb-4">
          <%= form_with url: skills_search_path, method: :get do |f| %>
          <div class="form-inline">
            <div class="input-group ml-auto">
              <%= f.select :general_skill, @general_skill_options.unshift(["All", nil]), {}, { class: "form-control mr-1", onChange: "javascript: this.form.skills_search_submit.click();" } %>
              <%= f.select :order, @order_options, {}, { class: "form-control", onChange: "javascript: this.form.skills_search_submit.click();", style: "min-width:108px;" } %>
              <%= f.submit name: "skills_search_submit", class: "d-none" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="error-message-area"></div>

      <div class="table-responsive">
      <table class="table table-hover text-nowrap">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="font-weight-normal">Skill</th>
            <th scope="col" class="font-weight-normal">General Skill</th>
            <th scope="col" class="font-weight-normal">Card数</th>
            <th scope="col" class="font-weight-normal">総スコア</th>
            <th scope="col" class="font-weight-normal">作成日</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="skill-list">
        <% @skills.each do |skill| %>
          <tr id="skill-<%= skill.id %>">
            <th scope="row"><%= skill.name %></th>
            <td><%= link_to(skill.general_skill.name, general_skill_path(skill.general_skill), style: "color:#343a40;") %></td>
            <td><%= skill.cards.count %></td>
            <td><%= total_scores_of(skill) %></td>
            <td><%= skill.created_at.strftime("%Y/%m/%d") %></td>
            <td>
              <div class="btn-group ml-3">
                <%= link_to 'Edit', edit_skill_path(skill), remote: true, class: "btn btn-sm btn-outline-secondary" %>
                <%= link_to 'Delete', skill, method: :delete, remote: true, data: { confirm: 'Are you sure?'}, class: "btn btn-sm btn-outline-secondary" %>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </div>
      <%= paginate @skills, theme: 'twitter-bootstrap-4',
                            pagination_class: "pagination-sm justify-content-center",
                            nav_class: "d-inline-b",
                            window: 1 %>

		</main>
	</div>
</div>
