<nav class="navbar navbar-expand-md navbar-dark bg-dark d-md-none">
	<%= link_to "Skill Manager", root_path, class: "navbar-brand mr-0" %>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbar">
		<ul class="navbar-nav mr-auto">
		<% if @current_user.present? %>
			<li class="nav-item">
				<%= link_to "Dashboard", dashboards_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to "Card List", cards_list_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to "Skill List", skills_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link text-muted", data: { confirm: 'Are you sure?'} %>
			</li>
		<% else %>
			<li class="nav-item">
				<%= link_to "ログイン", login_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to "新規登録", users_new_path, class: "nav-link text-muted" %>
			</li>
		<% end %>
		</ul>
	</div>
</nav>
