<nav class="navbar navbar-expand-md navbar-dark bg-dark d-md-none">
	<%= link_to "Skill Manager", root_path, class: "navbar-brand mr-0" %>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbar">
		<ul class="navbar-nav mr-auto">
		<% if @current_user.present? %>
			<li class="nav-item">
				<a class="nav-link text-muted" data-toggle="collapse" href="#collapseDashboard" role="button" aria-expanded="false" aria-controls="collapseDashboard">
					Dashboard
				</a>
				<div class="collapse" id="collapseDashboard">
				<% @current_user.general_skills.each do |gs| %>
					<%= link_to "> #{gs.name}", general_skill_path(gs), class: "nav-link text-muted" %>
				<% end %>
				</div>
			</li>
			<li class="nav-item">
				<%= link_to "General Skill", general_skills_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to "Skill", skills_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to "Card", cards_list_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to "Paper", papers_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to 'ユーザー編集', edit_user_path(@current_user.id), class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link text-muted", data: { confirm: 'Are you sure?'} %>
			</li>
		<% else %>
			<li class="nav-item">
				<%= link_to "ログイン", login_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to "新規登録", new_user_path, class: "nav-link text-muted" %>
			</li>
		<% end %>
		</ul>
	</div>
</nav>
