<nav class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar pt-3 bg-dark">
	<div class="sidebar-sticky sidebar-content">
	<%= link_to "Skill Manager", root_path, class: "nav-link text-white site_title" %>
		<ul class="nav flex-column">
		<% if @current_user.present? %>
			<li class="nav-item">
				<a class="nav-link text-muted collapse-dashboard" data-toggle="collapse" href="#collapseDashboard" role="button" aria-expanded="false" aria-controls="collapseDashboard">
					<span class="dashboard">Dashboard</span>
				</a>
				<div class="collapse" id="collapseDashboard">
					<div>
					<% @current_user.general_skills.each do |gs| %>
						<%= link_to general_skill_path(gs), class: "nav-link text-muted" do %>
							<%= icon("fas", "caret-square-right") %> <%= gs.name %>
						<% end %>
					<% end %>
					</div>
				</div>
			</li>
			<li class="nav-item">
				<%= link_to "General Skill", general_skills_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to "Skill", skills_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to "Card", cards_list_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to "Project", lists_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to "Paper", papers_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to 'ユーザー編集', edit_user_path(@current_user.id), class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to 'ログアウト', logout_path, method: :delete, class: "nav-link text-muted", data: { confirm: 'Are you sure?'} %>
			</li>
		<% else %>
			<li class="nav-item">
				<%= link_to "ログイン", login_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to "Face login", face_login_index_path, class: "nav-link text-muted" %>
			</li>
			<li class="nav-item">
				<%= link_to "新規登録", new_user_path, class: "nav-link text-muted" %>
			</li>
		<% end %>
		</ul>
	</div>
</nav>
