<div class="container-fluid">
	<div class="row">
		<%= render "shared/sidebar" %>

		<main role="main" class="col-md-9 col-lg-10 py-4 px-3 p-lg-5">
      <div id="alert-message"></div>

      <div class="modal fade" id="general-skill-modal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true"></div>

      <%= form_for(@general_skill, remote: true) do |f| %>
      <div class="form-row">
        <div class="col-md-5 input-group mb-4">
          <%= f.text_field :name, class: "form-control", placeholder: "New General Skill", maxlength: 50 %>
          <div class="input-group-append">
            <%= button_tag type: 'submit', class: "btn btn-secondary", id: "register-button" do %>
              <%= icon("fas", "plus") %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>

      <div class="error-message-area"></div>

      <div class="table-responsive">
      <table class="table table-hover text-nowrap">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="font-weight-normal">General Skill</th>
            <th scope="col" class="font-weight-normal">Skill数</th>
            <th scope="col" class="font-weight-normal">Card数</th>
            <th scope="col" class="font-weight-normal">総スコア</th>
            <th scope="col" class="font-weight-normal">作成日</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="general-skill-list">
        <% @general_skills.each do |general_skill| %>
          <%= render("general_skill", general_skill: general_skill) %>
        <% end %>
        </tbody>
      </table>
      </div>
      <%= paginate @general_skills, theme: 'twitter-bootstrap-4',
                                    pagination_class: "pagination-sm justify-content-center",
                                    nav_class: "d-inline-b",
                                    window: 1 %>

		</main>
	</div>
</div>
