<tr id="paper-<%= paper.id %>">
  <th scope="row" class="align-middle">
    <%= paper.title.blank? ? ".... タイトル取得中 ...." : link_to(paper.title, paper.url, style: "color:#343a40;", target: "_blank") %>
  </th>
  <td class="text-center align-middle">
  <% if paper.content.blank? %>
    <span class="px-2">-</span>
  <% else %>
    <a class="btn btn-outline-dark btn-sm" data-toggle="collapse" href="#accordion<%= paper.id %>" role="button" aria-expanded="false" aria-controls="#accordion<%= paper.id %>">
      ▼
    </a>
  <% end %>
  </td>
  <td class="text-center align-middle"><%= paper.general_skill.blank? ? "None" : paper.general_skill.name.truncate(8) %></td>
  <td class="text-center align-middle"><%= paper.status_text %></td>
  <td class="text-center align-middle">
    <div class="btn-group">
      <%= link_to(edit_paper_path(paper), remote: true, class: "btn btn-sm btn-outline-secondary") do %>
        <%= icon("fas", "edit") %>
      <% end %>
      <%= link_to paper, method: :delete, remote: true, data: { confirm: 'Are you sure?'}, class: "btn btn-sm btn-outline-secondary" do %>
        <%= icon("fas", "trash") %>
      <% end %>
    </div>
  </td>
</tr>
