<tr id="paper-<%= paper.id %>">
  <th scope="row"><%= truncate_paper_title(paper.title, 25) %></th>
  <td><%= link_to("link", paper.url, target: "_blank") %></td>
  <td><%= paper.status_text %></td>
  <td><%= paper.general_skill.try(:name).try(:truncate, 8) %></td>
  <td><%= paper.content %></td>
  <td><%= paper.created_at.strftime("%Y/%m/%d") %></td>
  <td>
    <div class="btn-group ml-3">
      <%= link_to 'Edit', edit_paper_path(paper), remote: true, class: "btn btn-sm btn-outline-secondary" %>
      <%= link_to 'Delete', paper, method: :delete, remote: true, data: { confirm: 'Are you sure?'}, class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </td>
</tr>
