<div class="container-fluid">
	<div class="row">
		<%= render "shared/sidebar" %>

		<main role="main" class="col-md-9 col-lg-10 py-4 px-3 p-lg-5">
      <div id="alert-message"></div>

      <div class="modal fade" id="paper-modal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true"></div>

      <%= form_for(@paper, remote: true) do |f| %>
      <div class="form-row">
        <div class="col-md-5 input-group mb-4">
          <%= f.text_field :url, class: "form-control", placeholder: "URL", maxlength: 500 %>
          <div class="input-group-append">
            <%= button_tag type: 'submit', class: "btn btn-secondary", id: "register-button" do %>
              <%= icon("fas", "plus-square") %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>

      <div class="error-message-area"></div>

      <div id="paper-table" class="table-responsive">
      <table class="table table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col" colspan="2" class="pl-3 font-weight-normal">Title</th>
            <th scope="col" class="text-center font-weight-normal">G.S.</th>
            <th scope="col" class="text-center font-weight-normal">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="paper-list">
        <% @papers.each do |paper| %>
          <%= render("paper", paper: paper) %>
          <%= render("paper_memo", paper: paper) %>
        <% end %>
        </tbody>
      </table>
      </div>
      <%= paginate @papers, theme: 'twitter-bootstrap-4',
                            pagination_class: "pagination-sm justify-content-center",
                            nav_class: "d-inline-b",
                            window: 1 %>

		</main>
	</div>
</div>
