<%= link_to edit_card_path(card), remote: true, style: "text-decoration: none;" do %>
<div id="card-<%= card.id %>" class="col-lg-4 col-md-6 mb-4">
  <div class="card card-body bg-light p-3">
    <p>
      <span class="badge badge-dark"><%= card.skill.general_skill.name.truncate(10) %></span>
      <span class="badge badge-success"><%= card.skill.name.truncate(10) %></span>
      <span class="badge badge-info"><%= card.score %></span>
    </p>
    <p class="card-text text-muted px-3"><%= card.fact %></p>
  </div>
  <div class="card-footer text-right py-1 px-3">
    <small class="text-muted">Cre. at <%= card.created_at.strftime("%Y/%m/%d") %></small>
    <%= link_to card, method: :delete, remote: true, data: { confirm: 'Are you sure?'}, class: "btn btn-sm btn-outline-secondary ml-2" do %>
      <%= icon("fas", "trash") %>
    <% end %>
  </div>
</div>
<% end %>
