<div class="container-fluid">
	<div class="row">
		<%= render "shared/sidebar" %>

		<main role="main" class="col-md-9 col-lg-10 pt-3 px-4">
      <div id="alert-message"></div>

      <div class="modal fade" id="card-modal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true"></div>

      <div class="container">
        <div id="card-list" class="row">
          <% @cards.each do |card| %>
            <div id="card-<%= card.id %>" class="col-md-4 mb-4">
              <div class="card card-body bg-light">
                <p class="card-text"><strong>Skill：</strong> <%= card.skill.name %></p>
                <p class="card-text"><strong>Score：</strong> <%= card.score %></p>
                <p class="card-text"><%= card.fact %></p>
                <%= link_to 'Delete', card, method: :delete, remote: true, data: { confirm: 'Are you sure?'} %>
                <small class="text-muted text-right"><%= card.updated_at.strftime("%Y年%m月%d日") %> 更新</small>
              </div>
            </div>
          <% end %>
        </div>
       </div>

		</main>
	</div>
</div>
