<div class="container-fluid">
	<div class="row">
		<%= render "shared/sidebar" %>

		<main role="main" class="col-md-9 col-lg-10 pt-3 pb-5 px-3 px-sm-5">
      <div id="alert-message"></div>

      <div class="modal fade" id="card-modal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true"></div>

      <div class="add-card-button">
        <%= link_to new_card_path, remote: true, class: "btn btn-dark rounded-circle" do %>
          <%= icon("fas", "plus") %>
        <% end %>
      </div>

      <%= render("cards_search", cards: @cards, general_skill_options: @general_skill_options, skill_options_hash: @skill_options_hash, general_skill_param: @general_skill_param, skill_param: @skill_param) %>

      <%= render("card_list", cards: @cards) %>

      <%= render("pagination", cards: @cards, general_skill_param: @general_skill_param) %>

		</main>
	</div>
</div>
